php/output
*.sublime-workspace
build/**
vendor/
.idea
composer.lock
*.phar
.codio
README_codio.md


#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
csharp/ConnectSdk/GettyImages.Connect.1.0.0.0.nupkg
csharp/ConnectSdk/GettyImages.Connect.*.nupkg
csharp/*.nupkg
*.dll
*.nupkg
php/vendor/**
php/composer.lock

[Oo]bj
[Pp]ackages
_ReSharper*
*.suo
*.nupkg
*.bom
*.dll
*.pdb
*.user
*.orig
.nuget/*/*
!nuget.exe
*.DotSettings
runtests.sh